html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.post-box {
    border: 2px solid black;
    border-radius: 5px;
    margin: 1rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.topics {
    font-size: 1.61rem;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

label {
    font-size: 1.25rem;
}

.button {
    margin: 0.50rem;
}

textarea {
    height: 7rem;
    width: 40rem;
    /*resize:none;*/
    
}