html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.post-box {
    border: 2px solid black;
    border-radius: 5px;
    margin: 1rem;
    cursor: pointer;
}

a:has(.post-box) {
    text-decoration: none;
    color: black;
}

.input-form {
    display: flex;
    flex-direction: column;

}