@using anonymous_forum_csharp.Models.ViewModels
@model List<HomeIndexViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        @foreach (var item in Model)
		{
            <li>@item.Name</li>
		}
    </ul>
</div>
