@using anonymous_forum_csharp.Models.ViewModels
@model AddCommentViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using (Html.BeginForm("CommentPostBox", "Comment", new { Id = ViewContext.RouteData.Values["id"] }, FormMethod.Post))
{
    <div class="input-form">
        @Html.ValidationSummary()

        @Html.LabelFor(m => m.Text)
        @Html.TextAreaFor(m => m.Text)
        @Html.ValidationMessageFor(m => m.Text)
        <input class="button" type="submit" value="Create" />
    </div>
   
}
